* { padding: 0; margin: 0; }
p { color: #333; font-family: Helvetica; font-size: 16pt; line-height: 24pt; margin-bottom: 1em; -webkit-font-smoothing: antialiased; }
a { color: #333; font-weight: bold; text-decoration: none; border-bottom: 1px solid rgba(0,0,0,0.3); }
a:hover { color: #330000; border-bottom: 1px solid rgba(0,0,0,1); }
#icons { width: 50px; padding: 50px 0 0 0; margin: 0 auto 0 50px; }
.content { width: 360px; padding: 0 0 0 150px; margin: -35px 50px 0 auto !important; }
